.grid {
  @include e(slider-btn) {
    &:hover {
      box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.5);
    }
  }
  @include e(project-buttons) {
    & button {
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
