//Fonts
$google-font: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
$prefix: do- !default;
$baseFontSize: 16px;
$baseFontFamily: "Roboto", sans-serif;
$regularFontWeight: 400;
$mediumFontWeight: 500;
$boldFontWeight: 700;

//Paddings
$mobilePadding: 20px;
$tabletPadding: 30px;

//Paths
$imagesPath: "../i/";

// Colors
$backgroundGray: #f5f5f5 !default;
$backgroundButtonGray: #ebebeb !default;
$textBlack: #1d1d1d !default;
$textGray: #6e6e6e !default;
$borderGray: #ebebeb !default;

$colors: (
  "backgroundGray": $backgroundGray,
  "backgroundButtonGray": $backgroundButtonGray,
  "textBlack": $textBlack,
  "textGray": $textGray,
  "borderGray": $borderGray,
) !default;
