.dimmed {
  opacity: 0.2;
  transition: opacity 1s ease;
}
.grid {
  padding: 10px $mobilePadding 20px;
  color: $textBlack;
  display: grid;
  gap: $mobilePadding;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  @include e(element) {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    background-color: white;
    transition: opacity 1s ease;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    padding: $mobilePadding;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 280px;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    @include m(personal) {
      & h1 {
        background: -webkit-linear-gradient(45deg, #e36577, #f6edb2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: $boldFontWeight;
        margin-top: 0;
        font-size: 36px;
        margin-bottom: 15px;
      }
      & h2 {
        font-weight: $mediumFontWeight;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 15px;
        color: $textBlack;
      }
      & p {
        margin: 0;
        color: $textBlack;
      }
    }
    @include m(cv) {
      background-image: url("#{$imagesPath}cv-bg.jpg");
      background-size: contain;
      padding: 0;
      & div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & p {
        display: block;
        font-weight: $boldFontWeight;
        font-size: 122px;
        color: white;
        margin: 0;
      }
    }
    @include m(gallery) {
      padding: 0;
      & img {
        height: 280px;
        width: 280px;
      }
    }
    @include m(skills) {
      height: 580px;
      & h2 {
        font-weight: $mediumFontWeight;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 15px;
        color: $textBlack;
      }
      & p {
        color: $textBlack;
        margin: 0;
        font-weight: $regularFontWeight;
      }
    }
    @include m(electon) {
      height: 580px;
    }
    @include m(film-catalog) {
      height: 580px;
    }
    @include m(payment-form) {
      height: 580px;
    }
    @include m(task-list) {
      height: 580px;
    }
    @include m(github) {
      background-color: $textBlack;
      padding: 0;
      & div {
        height: 280px;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & svg {
        height: 120px;
        width: 120px;
      }
    }
    @include m(linkedin) {
      background-color: #0077b5;
      padding: 0;
      & div {
        height: 280px;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & svg {
        height: 120px;
        width: 120px;
      }
    }
    @include m(telegram) {
      background-color: #2aabee;
      padding: 0;
      & div {
        height: 280px;
        width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & svg {
        height: 120px;
        width: 120px;
      }
    }
  }
  @include e(cv-link) {
    display: block;
    height: 280px;
    width: 280px;
    text-decoration: none;
  }
  @include e(photos) {
    height: 280px;
    width: 280px;
    padding: none;
    box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
    position: relative;
  }
  @include e(slider) {
    display: flex;
    position: relative;
  }
  @include e(slide) {
    position: absolute;
    transition: transform 0.5s;
  }
  @include e(slider-btn) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    background: rgb(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    & svg {
      height: 20px;
      width: 20px;
      border-radius: 100px;
    }
    @include m(left) {
      left: 16px;
      bottom: 16px;
    }
    @include m(right) {
      right: 16px;
      bottom: 16px;
    }
  }
  @include e(slider-dots) {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
  }
  @include e(slider-dot) {
    border: none;
    background-color: #e6e6e6;
    opacity: 0.4;
    height: 8px;
    width: 8px;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.8);
    &:last-child {
      margin: 0;
    }
    @include m(active) {
      background-color: #e6e6e6;
      opacity: 1;
    }
  }
  @include e(soft-skills) {
    background: linear-gradient(to right, #e05596, #6293e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: $mediumFontWeight;
  }
  @include e(hard-skills) {
    background: linear-gradient(to right, #6293e2, #6fe3fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: $mediumFontWeight;
  }
  @include e(default-skills) {
    font-weight: $regularFontWeight;
    color: $textBlack;
    -webkit-text-fill-color: initial;
  }
  @include e(sticker) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    & img {
      margin-top: 22.5px;
      width: 125px;
    }
  }
  @include e(project-description) {
    & h3 {
      font-weight: $mediumFontWeight;
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 10px;
      color: $textBlack;
    }
    & p {
      margin-top: 0;
      margin-bottom: 10px;
      color: $textBlack;
      &:last-child {
        color: $textGray;
        font-size: rem(14px);
      }
    }
  }
  @include e(project-buttons) {
    text-align: center;
    position: absolute;
    bottom: 20px;
    margin-left: -20px;
    @include m(personal-website) {
      margin-left: 10px;
    }
    & button {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      & a {
        font-size: rem(14px);
        font-weight: $boldFontWeight;
        text-decoration: none;
        color: $textBlack;
        display: block;
        padding: 10px 20px;
        border-radius: 20px;
        border: 5px solid $borderGray;
      }
    }
  }
  @include e(project-screenshot) {
    width: 240px;
    display: flex;
    align-items: center;
    & img {
      width: 100%;
      max-width: 100%;
      object-fit: contain;
    }
    @include m(electon) {
      & img {
        height: 190px;
      }
    }
    @include m(film-catalog) {
      margin-top: 24px;
      & img {
        height: 190px;
      }
    }
    @include m(payment-form) {
      margin-top: 35px;
      & img {
        height: 200px;
      }
    }
    @include m(task-list) {
      margin-top: 30px;
      & img {
        height: 200px;
      }
    }
  }
  @include e(arrow-button) {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    background: rgb(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    & svg {
      height: 20px;
      width: 20px;
      border-radius: 100px;
      margin: 0;
    }
  }
}
.grid-projects {
  grid-template-columns: repeat(1, minmax(280px, 20px));
  grid-template-rows: repeat(18, minmax(280px, 20px));
  & .grid__element_personal {
    grid-row: 16;
  }
  & .grid__element_cv {
    grid-row: 17;
  }
  & .grid__element_gallery {
    grid-row: 18;
  }
  & .grid__element_skills {
    grid-row: 1 / 2;
  }
  & .grid__element_electon {
    grid-row: 3 / 4;
  }
  & .grid__element_film-catalog {
    grid-row: 5 / 6;
  }
  & .grid__element_payment-form {
    grid-row: 7 / 8;
  }
  & .grid__element_task-list {
    grid-row: 9 / 10;
  }
  & .grid__element_personal-website {
    grid-row: 11;
  }
  & .grid__element_announcement {
    grid-row: 12;
  }
  & .grid__element_linkedin {
    grid-row: 13;
  }
  & .grid__element_github {
    grid-row: 14;
  }
  & .grid__element_telegram {
    grid-row: 15;
  }
}
.grid-contact {
  grid-template-columns: repeat(1, minmax(280px, 20px));
  grid-template-rows: repeat(18, minmax(280px, 20px));
  & .grid__element_personal {
    grid-row: 16;
  }
  & .grid__element_cv {
    grid-row: 17;
  }
  & .grid__element_gallery {
    grid-row: 18;
  }
  & .grid__element_skills {
    grid-row: 4 / 5;
  }
  & .grid__element_electon {
    grid-row: 6 / 7;
  }
  & .grid__element_film-catalog {
    grid-row: 8 / 9;
  }
  & .grid__element_payment-form {
    grid-row: 10 / 11;
  }
  & .grid__element_task-list {
    grid-row: 12 / 13;
  }
  & .grid__element_personal-website {
    grid-row: 14;
  }
  & .grid__element_announcement {
    grid-row: 15;
  }
  & .grid__element_linkedin {
    grid-row: 1;
  }
  & .grid__element_github {
    grid-row: 2;
  }
  & .grid__element_telegram {
    grid-row: 3;
  }
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #ababab;
}
